* {
  font-family: 'Quicksand';
}

body{
  margin: 0;
  padding: 0;
}

header{
  margin:auto;
  min-width:12vw;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
}

.navbar{
  display: flex;
  flex-direction: row;
  font-weight:450px;
  align-items: center;
  justify-content:space-evenly;
  background-color:white;
  color:black;

}

.nav-list{
  min-width:500px;
  margin-left:20%;
  display:flex;
  font-weight: 600;
  flex-direction:row;
  justify-content:space-between;
  list-style-type: none;
  cursor:cell;
}

.nav-list li:hover{
  color:#900C3F ;
}

.fa-magnifying-glass{
  color:#900C3F;
  max-height:18px;
  max-width: 18px;
  margin-right:250px;

}

.navleft{
  position:absolute;
  width: 6rem;
  height: 6rem;
  margin-top:1rem;
  left:6%;
  border:1.5px solid white;
  border-radius: 50%;
  background: center center/contain url(images/logopelagieagassi.jpeg) no-repeat;
}


/* voici les styles relatifs à la partie accueil */
.home{
  padding: 200px 0;
  background-color:black;
  display:flex;
  width: 100%;
	height: 22vh;
	display: flex;
	justify-content: center;
	align-items: center;
  font-family: 'Quicksand', sans-serif;
  color:white;
}
   /* reference code pour animation:https://codepen.io */
span{
	margin: 0 10px;
	line-height: .5;
	animation: span 3s ease-in infinite alternate;
  font-size:4rem;
}
.mainanim{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	@media(max-width: 500px){ transform: scale(.65); }
}
.letter{
	display: inline-flex;
	height: 42px;
	width: 42px;
	/* border: 2.5px solid #FF1EAD; */
	border: 1.5px solid white;
	border-radius: 50px;
	box-shadow: 0 0 4px black,
		inset 0 0 0.5rem white;
	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 25vw; }
}
/* fin test */

.sidebarre{
  display:flex;
  flex-direction:column;
  margin: 125px 50px 0 7px;
  height: 150px;
  justify-content:space-evenly;
}

i{
  font-size: 1.6em;
  color: white;

}

i:hover{
  transition: .4s;
  color: #900C3F;
}

.texte2{
  padding-left:5%;
  color: white;
  width: 45%;
}

.texte2 p{
font-size: 3em;
font-weight:medium;
}

.img__group{
  width: 55%;
  display: flex;
  justify-content:right;
  color: white;
  align-items: center;
}

.photo{
  border: solid  1px white;
  height: 425px;
  width: 425px;
  border-radius: 50%;
  background: center/ 400px 500px url(./images/femme.webp) no-repeat;
}

.photo .circle{
  padding: 10px 0 0;
  height:425px;
  width:425px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
}

.button{
  width:10%;
}
.button-contact{
  font-size: 15px;
  color:#900C3F;
  border-radius:50%;
  cursor: pointer;
  margin-top:35%;
  position: absolute;
}

/* ici commence la division à propos de portfolio */

.about{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-between;
  background-color: #900C3F ;
}

.title-about{
  color: transparent;
  -webkit-text-stroke: 0.5px #FFFf;
  font-weight: bold;
  font-size: 5em;
  position: absolute;
  transform: translate(-50%,-50%);
  margin-left: 40%;
  text-shadow: 0.5px 4px #ffff;
  text-transform: capitalize;
}

.container{
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  justify-content: space-evenly;
  background-color:#900C3F;
  padding-top: 10%;
}

.photo1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  width: 50%;
  border: 1px dotted white;
  height: 425px;
  width:440px;
  border-radius: 50%;
  background: center/ 425px 430px url(./images/femme.webp) no-repeat;
}

.text-about-2 {
  width: 50%;
  color:white;
}

.title{
  font-size: 3em;
}

.CV p{
  width:14rem;
  text-align: center;
  text-transform:uppercase;
  font-size: 1.2em;
  margin-top:90%;
  margin-left: 20%;
  color:#900C3F;
  font-weight:bold;
  cursor:pointer;
  background-color:#FFFf;
}

.CV :hover {
  transition: .4s;
  color:#900C3F;
}
.text-about-2{
  margin-left:15%;
}

.text p{
  text-align: justify;
  color: #ffff;
  font-size: 1em;
  margin-top: 5%;
}

/* Partie Projets */
.portfolio{
  margin-left: 8%;
  margin-right: 8%;
}

.text-1 h1{
  color:transparent;
  -webkit-text-stroke: 0.5px #900C3F;
  font-weight: bold;
  font-size: 5em;
  text-shadow: 0.5px 4px #900C3F;
  text-transform: capitalize;
}

.projet{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.projet div{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 4px;
  border: 2px Solid #900C3F;
  flex-basis: 30%;
}
.projet div p{
  padding: 10px 10px;
  text-align: justify;
}
.projet img{
  padding: 20px 0;
  height: 300px;
  width: 400px;
  margin: 0 auto;
}


footer{
  display:flex;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-top:20px;
  justify-content: space-between;
}

.contact{
  width: 40%;
}

.formulaire{
  width: 50%;
  padding-top: 100px;
}
input{
  padding-right:90px;
  margin-top: 5%;
}
.commentaire {
  min-width:300px;
  min-height: 150px;
}

.copyright{
  background-color:#900C3F;
  margin-top:5vh;
  color: #ffff;
  width:100%;
}
.copyright p{
  text-align: center;
}


.submit{ background-color:#900C3F;
         color: white;
         border-radius: 10px;
         border: 1px solid white;
         padding:5px;
}
.contact h1{ color:#900C3F;
             font-size:3em;
             margin-left: 20px;
}
.contact p{
  margin-left: 20px;
  justify-content: center;
}
.contact-image{
  height:250px;
  margin-left: 20px;
  background:left /350px 350px url(./images/discutons.jpeg) no-repeat;
}
footer{
  border:2px solid#900C3F;
}
