* {
  font-family: 'Quicksand';
}


/* *{
 overflow: hidden;
} */

.header{
  margin:auto;
  min-width:12vw;
}
.navbar{
  display: flex;
  flex-direction: row;
  font-weight:450;
  align-items: center;
  justify-content:space-between;
  top:0px;
  min-width:25vw;
  background-color:white;
  color:black;
}

.nav-list{
  min-width:500px;
  margin-left:20%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  list-style:none;
  cursor:cell;
}
.nav-list li:hover{
  color:#900C3F ;
}

.fa-magnifying-glass{
  color:#900C3F;
  max-height:18px;
  max-width: 18px;
  margin-right:250px;

}

.navleft{
  position:absolute;
  width: 6rem;
  height: 6rem;
  margin-top:1rem;
  left:6%;
  border:1.5px solid white;
  border-radius: 50%;
  background: center center/contain url(images/logopelagieagassi.jpeg) no-repeat;
}


/* voici les styles relatifs à la partie accueil */
.home{
  margin-right: 8%;
  margin-left: 8%;
  margin:auto;
  min-width:12vw;
  height: 90vh;
  background-color:black;
  display:flex;
  margin:auto
}

.sidebarre{
  display:flex;
  flex-direction:column;
  margin-left:5px;
  margin-top: 250px;
  height: 150px;
  justify-content:space-between;
}

.facebook{
  border: solid 3px white;
  border-radius:10px;
  height:18px;
  width:18px;
  justify-content: center;
  padding-bottom: 10px;
  background:center/ 12px 12px url(./images/facebook_pelagieagassi.png) no-repeat;
  background-color: white;
  box-shadow:0 0 3px;
  cursor:pointer;

}

.linkedin{
  border: solid 3px white;
  border-radius:10px;
  height:18px;
  width:18px;
  justify-content: center;
  padding-bottom: 10px;
  background: center/ 14px 12px url(./images/linkedin_pelagieagassi.png) no-repeat;
  background-color: white;
  box-shadow:0 0 3px;
  cursor:pointer
}

.pinterest{
  border: solid 3px white;
  border-radius:10px;
  height:18px;
  width:18px;
  justify-content: center;
  background: center/ 11px 12px url(./images/pinterest_pelagieagassi.png) no-repeat;
  padding-bottom: 10px;
  background-color: white;
  box-shadow:0 0 3px;
  cursor:pointer
}

.mainhome{
 color: white;
 width:calc(100% - 30px);
 display: flex;
 flex-direction:row;
 justify-content:space-between;
 align-items: center;
}

.hello{
  height:600px;
  min-width:50%;
  padding:30px;
  font-size:40px;

}
.texte1{
  width: 300px;
  margin-top:25%;
  margin-left:1%;
}

.texte2{
  margin-left:80px;
  min-width:700px;
}

.img__group{
  width: 50%;
  margin-left:2%;
  margin-right:10%;
}

.photo{
  border:dashed  0.5px white;
  min-height:425px;
  min-width:425px;
  border-radius: 50%;
  background:center/ 400px 500px url(./images/femme.webp) no-repeat;
  position: relative;
  z-index: 3;
  /* align-self: flex-end; */
}

.mainhome .photo .circle{
  height:325px;
  width:325px;
  border:1px solid white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:2
}

.mainhome .photo .two{
  height:300px;
  width:300px;
}

.mainhome .photo .three{
  height:250px;
  width:250px;
}

/* ici commence la division à propos de portfolio */

.about{
  min-width:12vw;
  max-height:95vh;
  position:relative;
  display: flex;
}

.titleabout{
  color: transparent;
  -webkit-text-stroke: 0.5px #FFFf;
  font-weight: bold;
  /* color:#900C3F ; */
  font-size:5em;
  position:absolute;
  transform: translate(-50%,-50%);
  margin-left:40%;
  text-shadow:0.5px 4px #ffff;
  text-transform:capitalize;
}

.container{
  min-height:90vh;
  min-width:12vw;
  background-color:#900C3F ;
  display: flex;
  flex-direction:row;
}

.container .photo1 {
  height:300px;
  width:300px;

  border:2px outset white ;
  border-radius: 50%;
  margin-left: 15%;
  background:url(./images/femme2.webp) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3
}

.container .photo1 .circle {
  height:330px;
  width:330px;
  border:1px solid white;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border:1px outset white;
}

.container .photo1 .oneB {
  height:40px;
  width:40px;
  border:1.5px outset white;
  transform: translateX(300%);
  transform:translateY(300%);

}
.container .photo1 .twoB {
  height:40px;
  width:40px;
  border:1.5px outset white;
  transform: translateX(450%);
  transform:translateY(-450%);

}

.CV{
  text-transform:uppercase;
  height:50px;
  width:250px;
  border:2px solid #900C3F;
  /* border-radius: 25%; */
  margin-top:330px;
  margin-left:11%;
  position: absolute;
  font-size: 15px;
  color:#900C3F;
  font-weight: bold;
  cursor:pointer;
}

.textabout2 {
  color:white;
  min-height:30vh;
  min-width:50vw;
  margin-left:10vh;
  margin-top:30vh;
  text-align:left;
}
.button_contact{
  font-size: 8px;
  height:50px;
  width:50px;
  color:#900C3F;
  border-radius:50%;
  cursor: pointer;
  position: absolute;
  top:80%;
  left:90%;
}
.Portfolio{
  margin-right: 15%;
  margin-left: 15%;
  align-items: center;
  height:500px;
}
.text{
  text-align: center;
  color:#900C3F;
  /* -webkit-text-stroke: 1px #FFFF; */
  font-size:15px;
  height:25px;
}
.projet{
  max-height: 320px;
  max-width:1500px;
  margin-top:50px;
  display: flex;
  justify-content: space-between;
  padding:20px;


}
.projet1{
  display: flex;
  flex-direction: column;
  Width: 320px;
  border:2px;
}
img{
  text-align: center;
  height:200px;
}
.projet2{
  display: flex;
  flex-direction: column;
  Width: 320px;
  border:2px;
}
.projet3{
  display: flex;
  flex-direction: column;
  Width: 320px;
  border:2px;
}

/* enfin commence la dernière partie de mon portfolio: le pied de page */

footer{
  height:600px;
  display:flex;
  margin-right: 10%;
  margin-left: 10%;
  align-items: center;
}
.contact{
  height: 280px;
}
.formulaire{
  height:280px;

}
/* .contact p{
  margin-right: 500px; */
}
.formulaire{
  width: 80%;
  margin-left: 200px;
}
input{
  padding-right:90px;
  margin-top: 10px;
}
.commentaire {
  min-width:300px;
  min-height: 150px;
}
